.searchBar {
	-fx-border-width: 0px 0px 2px 0px;
}

.searchBarComboBox {
	-fx-border-color: #f5821e;
	-fx-background-color: transparent;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-text-fill: #ffffff;
}

.arrow {
	-fx-background-color: #f5821e;
}

.combo-box .cell {
    -fx-text-fill: #ffffff;    
    -fx-background-color: #2c2d33;
}

.combo-box .combo-box-popup .list-view {
	-fx-background-color: #f5821e;
	-fx-text-fill: #ffffff;   
}

#mainSearchBar {
	-fx-background-color: transparent; 
	-fx-text-fill: #ffffff;
	-fx-border-color: #f5821e;	
}

#searchBarButton {
	-fx-background-color: transparent; 
}

.orangeComboBox {
	-fx-background-color: #1c1d20;
	-fx-border-color: #f5821e;
	-fx-border-width: 2px 2px 2px 2px;
}

.menuButton {
	-fx-background-color: transparent;
	-fx-border-radius: 0;
	-fx-text-fill: #ffffff;
}

.menuButton:hover {
	-fx-background-color: #f5821e;
}

.menuButton:pressed {
	-fx-background-color: #c96b1a;
}

.orangeButton {
	-fx-text-fill: #ffffff;
	-fx-background-color: #f5821e;
}

.orangeButton:hover {
	-fx-background-color: #f4a35d; 
}

.orangeButton:pressed {
	-fx-background-color: #b46017;
}

.redButton {
	-fx-text-fill: #ffffff;
	-fx-background-color: #d32a00; 
}

.redButton:hover {
	-fx-background-color: #ce5435;
}

.redButton:pressed {
	-fx-background-color: #981f01;
}

.greenButton {
	-fx-text-fill: #ffffff;
	-fx-background-color: #45bd62; 
}

.greenButton:hover {
	-fx-background-color: #6abd7e; 
}

.greenButton:pressed {
	-fx-background-color: #328e48;
}
